@model PetKeeper.Models.PodaciViewModel
@using static PetKeeper.Common.VakcinisanEnum
@using static PetKeeper.Common.RasaEnum
@using static PetKeeper.Common.PolEnum
@using static PetKeeper.Common.SterilisanEnum
@using static PetKeeper.Common.StatusEnum

<div class="modal fade" id="myEditModal" role="dialog" data-backdrop="static" style="display : block">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Izmena rezervacije</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" title="Close" data-original-title="Tooltip on left">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editModal">
                <div class="modal-body" id="modalBody">

                    <input asp-for="Id" type="text" id="editId" hidden />
                    <div class="form-group">
                        <label asp-for="Ime" class="control-label"></label>
                        <input asp-for="Ime" class="form-control" id="editIme" />
                        <span asp-validation-for="Ime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Starost" class="control-label"></label>
                        <input asp-for="Starost" class="form-control" id="editStarost" />
                        <span asp-validation-for="Starost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DatumPrijema" class="control-label">Datum prijema</label>
                        <input asp-for="DatumPrijema" class="form-control" id="editDatumPrijema" />
                        <span asp-validation-for="DatumPrijema" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DatumOdjave" class="control-label">Datum odjave</label>
                        <input asp-for="DatumOdjave" class="form-control" id="editDatumOdjave" />
                        <span asp-validation-for="DatumOdjave" class="text-danger"></span>
                    </div>

                    <div class="form-group" id="editRasa">
                        <label asp-for="Rasa" class="control-label"></label>
                        @Html.DropDownList("Rasa", Html.GetEnumSelectList<RasaEnums>(), new { @class = "form-control" })
                    </div>
                    <div class="form-group" id="editPol">
                        <label asp-for="Pol" class="control-label"></label>
                        @Html.DropDownList("Pol", Html.GetEnumSelectList<PolEnums>(), new { @class = "form-control" })
                    </div>
                    <div class="form-group" id="editSterilisan">
                        <label asp-for="Sterilisan" class="control-label"></label>
                        @Html.DropDownList("Sterilisan", Html.GetEnumSelectList<SterilisanEnums>(), new { @class = "form-control" })
                    </div>
                    <div class="form-group" id="editVakcinisan">
                        <label asp-for="Vakcinisan" class="control-label"></label>
                        @Html.DropDownList("Vakcinisan", Html.GetEnumSelectList<VakcinisanEnums>(), new { @class = "form-control" })
                    </div>
                    <input asp-for="User" class="form-control" id="editUser" hidden />
                    <input asp-for="UserName" class="form-control" id="editUserName" hidden />

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="form-group" id="editStatus">
                                <label asp-for="Status" class="control-label"></label>
                                @Html.DropDownList("Status", Html.GetEnumSelectList<StatusEnums>(), new { @class = "form-control" })
                            </div>
                        }
                    }
                </div>

                <div class="modal-footer">
                    <input id="submitButtonEdit" type="submit" class="btn btn-primary" value="Sačuvaj" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </form>
        </div>
    </div>
</div>


